%gilroy-400 {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%gilroy-700 {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 700;
  font-style: normal;
}
%nekst-400 {
  font-family: "Nekst", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%nekst-900 {
  font-family: "Nekst", sans-serif;
  font-weight: 900;
  font-style: normal;
}
%btn{
  border: 1px solid #FF9514;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: #fff;
  color: #FF9514;
  cursor: pointer;
}